/* HELPER COLOR
.wrapper {
 background-color: rgba(0,0,0,.3);
}
*/

/*=== BASE STYLE ===*/
* {
  box-sizing: border-box;
}


body {
  
  background: url(assets/freedom.jpg) no-repeat center;
  background-size: cover;
  color: #333;
}

@media (min-width: 768px) {

  body {
    line-height: 4.5rem;
  }

}

/*=== CONTAINER STYLE ===*/

.wrapper {
  height: 100vh;
  position: relative;
  width: 90%;
  margin: 0 auto;
  line-height: 3rem;
  text-align: center;
  padding-bottom: 30px;
}

.quote {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 1.5rem;
  padding: 9rem 0 3rem;
}

@media (min-width: 460px, min-width: 680) {

  .quote {
    padding: 2.5rem;
  }

}

@media (min-width: 768px) {

  .quote {
    font-size: 3rem;
    padding: 9rem 1rem 5rem;
  }
}

.author {
  font-family: 'Crimson Text', serif;
  font-style: italic;
  font-size: 1.5rem;
}

@media (min-width: 768px) {

  .author {
    font-size: 2rem;
  }
}

/*=== FOOTER STYLE ===*/

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 20px;
}

a {
  margin: 0 20px;
  color: #333;
  text-decoration: none;
}
