/* HELPER COLOR
.wrapper {
 background-color: rgba(0,0,0,.3);
}
*/

/*=== BASE STYLE ===*/
* {
  box-sizing: border-box;
}


body {
  height: 100vh;
  background: url(assets/freedom.jpg) no-repeat center;
  background-size: cover;
  line-height: 3rem;
  color: #333;
}

@media (min-width: 768px) {

  body {
    line-height: 4.5rem;
  }

}

/*=== CONTAINER STYLE ===*/

.wrapper {
  width: 90%;
  margin: 0 auto 1rem;
  text-align: center;
}

.quote {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 1.5rem;
  padding: 9rem 0 3rem;
}

@media (min-width: 666px) {

  .quote {
    padding: 2.5rem;
  }

}

@media (min-width: 768px) {

  .quote {
    font-size: 3rem;
    padding: 9rem 1rem 5rem;
  }
}

.author {
  font-family: 'Crimson Text', serif;
  font-style: italic;
  font-size: 1.5rem;
}

@media (min-width: 768px) {

  .author {
    font-size: 2rem;
  }
}

/*=== FOOTER STYLE ===*/

footer {
  width: 100vw;
  position: absolute;
  bottom: 0;
  background: rgba(256,256,256,.3);
  box-shadow: 0 -5px 10px rgba(256,256,256, .3);
  line-height: 1.5rem
}

a {
  margin: 1rem;
  color: #333;
  text-decoration: none;
}
